.login-field {
    width: 40vw;
    background-color: rgb(240, 240, 240);
    border: none;
    padding-left: 15px;
    border-radius: 10px;
}

.logo {
    width: 30px;
}











@media screen and (max-width:576px) {
    .login-field {
        width: 80vw;
    }
}