* {
    position: relative;
}

.footer {
    background-image: linear-gradient(to right, rgb(77, 150, 245), rgb(207, 233, 255));
    left: 0;
    /* bottom: -10%; */
    position: absolute;
    width: 100%;
}