.header {
    background-image: linear-gradient(to right, rgb(77, 150, 245), rgb(207, 233, 255));
    position: fixed;
}

.care {
    font-weight: 900;
    font-size: 30px;
}

.nav-logo {
    color: rgb(77, 77, 145);
}