.banner {
    position: relative;
    margin-top: 40px;
}

.banner-text {
    color: rgb(77, 77, 145);
    font-size: 5vw;
    position: absolute;
    top: 70px;
    left: 10%;
    font-weight: 900;
}